body{
    margin: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(105, 105, 105);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.02fr;
}
#header{
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: white;
    display: grid;
    place-items: center;
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#game-section{
    grid-column: 1/ span 1;
    grid-row: 2 / span 1;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#gameBox{
    grid-column: 1 / span 1;
    grid-row:  1 / span 1;
    width: min(600px, 100%);
    height: min(600px, 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}
.box{
    aspect-ratio: 1 / 1;
    background-color: black;
    border: 1px solid white;
    font-size: 10rem;
    color: white;
    display: grid;
    place-items: center;
}
.box:hover{
    background-color: gray;
}
#footer{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: black;
    font-size: 0.3rem;
    color: white;
}